@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш магазин бытовой техники!</h1>
    <p>У нас вы найдете широкий ассортимент бытовой техники по лучшим ценам.</p>
</div>